################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projects/project04.zip
/projects/project03.zip
/projects/project02.zip
/projects/project01.zip
/projects/.vs/projects/v15
/projects/.vs/VSWorkspaceState.json
/HackAssembler/.vs/HackAssembler/v15
/Hacksemmbler/.vs/Hacksemmbler/v15
/Hacksemmbler/obj/Debug
/projects/project05.zip
